<%- include('partials/header') %>
<h1>Selamat Datang di Galeri Edukasi Anak TK</h1>
<h4>Pilih kategori pada menu di atas untuk melihat galeri.</h4>
<img src="/img/tka.png" alt="gambar">
<%- include('partials/footer') %>